.visor{
	width:500px;
	height:50px;
}

.bot7{
	width:100px;
	height:100px;
 	
}
.bot8{
	width:100px;
	height:100px;
 	
}
.bot9{
	width:100px;
	height:100px;
 	
}
.divisao{
	width:100px;
	height:100px;
 	
}
.porcento{
	width:100px;
	height:100px;
 	
}
.bot4{
	width:100px;
	height:100px;
 	
}
.bot5{
	width:100px;
	height:100px;
 	
}
.bot6{
	width:100px;
	height:100px;
 	
}
.vezes{
	width:100px;
	height:100px;
 	
}
.apagar{
	width:100px;
	height:100px;
 	
}
.bot1{
	width:100px;
	height:100px;
 	
}
.bot2{
	width:100px;
	height:100px;
 	
}
.bot3{
	width:100px;
	height:100px;
 	
}
.menos{
	width:100px;
	height:100px;
 
}
.bot0{
	width:310px;
	height:100px;
 
}
.virgula{
	width:100px;
	height:100px;
 
}
.mais{
	width:100px;
	height:100px;
 
}

.igual{
	width:100px;
	height:100px;
 	
}